.input {
    background: none;
    border: 2px solid #EE6C4D;
    padding: 10px;
    color: #293241;
    text-align: center;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 5px 0;
}

.input:focus {
    outline: 0;
}